terratowns_endpoint="https://terratowns.cloud/api"
easystars = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/easystars"
    content_version = 1
}
cocktails = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/cocktails"
    content_version = 1
}
