user_uuid="64108799-3a97-4d38-8249-8caa3467d2e1"
bucket_name="ee4yxd7xhilmoljxi507nnww12vhhgma"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"